.container {
  display: flex;
  margin: 0 auto;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.plantbug-square {
  display: flex;
  width: 250px;
  height: 70px;
  justify-content: center;
  align-self: center;
  background: #ecebc9;
  border-radius: 10px;
}

.plant-item {
  margin: 1rem;
  width: calc(45% - 2rem);
  min-width: 17.5rem;
}

.plant-item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1rem;
  color: rgb(0, 0, 0);
  background: #f9fafa;
}

.plant-item a:hover,
.plant-item a:active {
  background: #0084ff;
}

.plant-item__content {
  padding: 0;
}

img {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}

.plant-item__info h2 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: #030303;
}

.plant-item:hover h2,
.plant-item:active h2,
.plant-item:hover h3,
.plant-item:active h3 {
  color: #292929;
}

.plant-item__info h3 {
  margin: 0;
}
